{% extends 'base.html' %}

{% block title %}
  Backpacking Trainer - Home
{% endblock %}

{% block content %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Strava Activity ID</th>
        <th scope="col">Type</th>
        <th scope="col">Start Date (UTC)</th>
      </tr>
    </thead>
    <tbody>
    {% for activity in activities %}
      <tr>
        <th scope="row">{{ activity.id}}</th>
        <td>{{ activity.strava_activity_id }}</td>
        <td>{{ activity.type}}</td>
        <td>{{ activity.start_date }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}